#contents {
  /* background-color: blue; */
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
}

#contents>h2 {
  margin: 0px;
}

#contents>main {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}